* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*Cores*/
:root {
  --cinza: gainsboro;
  --bege: rgb(255, 236, 218);
  --verde: rgb(127, 148, 126);
  --azul: rgb(25, 64, 138);
  --laranja: rgb(212, 120, 0);
}

/*HEADER*/
header {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

.cardperfil {
  text-align: center;
  padding-top: 3rem;
  width: 40%;
}

.boxperfil p {
  padding-bottom: 1rem;
}

.perfil {
  width: 260px;
  padding-bottom: 1rem;
}

.boxperfil {
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.redesociais {
  display: flex;
  justify-content: center;
}

.redesociais ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 50%;
}

.redesociais i {
  font-size: 2rem;
  color: black;
}

.sobremim {
  width: 40%;
  /* padding: 2rem; */
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  background-color: var(--cinza);
}

.sobremim h1 {
  font-size: 4rem;
}

/*MAIN*/

.habilidade {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--bege);
  height: 80vh;
}

.habilidade h2 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 3rem;
}

.habilidade img {
  padding: 2rem;
  width: 200px;
  height: 240px;
  background-color: var(--verde);
  border-radius: 10px;
  margin: 1rem;
}

/*Form*/

.campoform {
  background-color: var(--verde);
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.boxform h2 {
  text-align: center;
}

.boxform {
  width: 650px;
  height: 400px;
}

.inputname {
  border: none;
  width: 80%;
  height: 3rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

label {
  font-size: 1.5rem;
  font-weight: 900;
  padding-right: 1rem;
}

.puttext {
  display: flex;
  padding-bottom: 1rem;
}

.inputtext {
  border: none;
  width: 80%;
  height: 150px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.boxassunto {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

button {
  background-color: var(--azul);
  border: none;
  display: block;
  width: 130px;
  height: 60px;
  margin-left: 5.5rem;
  border-radius: 20px;
  color: white;
  font-size: 23px;
  font-weight: 900;
}

.feito {
  background-color: var(--laranja);
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.termos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  height: 80px;
  padding-left: 1rem;
  background-color: black;
  color: white;
}
